@use "../base/mixins";

.about-section {
  width: 100%;

  min-height: 90vh;
  padding: 2.1rem 2rem;

  &__title {
    margin-bottom: 2rem;
    text-align: center;
    color: var(--primary-color);
    font-size: 2.2rem;
  }

  &__content {
    @include mixins.flex(row, space-between, flex-start);
    gap: 30px;

    &__card {
      width: 50%;
      padding: 10px 12px;
      font-size: 1rem;
      text-align: left;
      color: var(--light-color);
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -o-pre-wrap;
      body.light & {
        color: var(--secondary-color);
      }
    }
    & .hobbies {
      width: 50%;

      & h3 {
        margin: 0 0 20px 0;
        text-align: center;
        font-size: 1.5rem;
        color: var(--light-color);
        body.light & {
          color: var(--secondary-color);
        }
      }
      &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
        grid-template-rows: auto;
        justify-items: center;
        gap: 20px 18px;
      }
    }
  }
}

@media (max-width: 500px) {
  .about-section {
    &__content {
      @include mixins.flex(column, space-between, center);
      gap: 40px;

      &__card {
        width: 100%;
      }

      & .hobbies {
        width: 100%;
        margin-left: 0px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .about-section {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 380px) {
  .about-section {
    padding: 2.1rem 0.2rem;
  }
}
