@use "../../base/mixins";
.card-icon {
  width: 90px;
  height: auto;
  padding: 6px 5px;
  background: var(--secondary-color);
  backdrop-filter: blur(19.5px);
  -webkit-backdrop-filter: blur(19.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  @include mixins.flex(column, space-evenly, center);
  transition: 0.3s ease-in-out;

  &__wrap-icon {
    width: 100%;
    text-align: center;
    color: var(--light-color);
    & > svg {
      width: 30px;
      height: 30px;
    }
  }
  &__about {
    width: 100%;
    height: auto;
    margin: 0;
    font-size: 0.8rem;
    text-align: center;
    word-wrap: break-word;
    color: var(--light-color);
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 32px 0 rgba(120, 117, 255, 0.1);
  }
}
