:root {
  /* font*/
  --font-poppins: "Poppins", sans-serif;

  /* colors */
  --main-color: #04b391;
  --main-color-faded: rgba(4, 179, 145, 0.2);
  --second-color: #1b232e;
  --second-color-contrast: #1e2733;
  --neutral-color: #dce2e8;
  --invalid-color: rgb(217 48 37);
}
