:root {
  /* font*/
  --font-roboto: "Poppins", sans-serif;

  /* colors */
  --main-color: #04b391;
  --main-color-faded: #68c9b9;
  --second-color: #1b232e;
  --second-color-contrast: #1e2733;
  --neutral-color: #dce2e8;
  --invalid-color: rgb(217 48 37);
}
