:root {
  /* font*/
  --font-poppins: "Poppins", sans-serif;

  /* colors */
  --primary-color: #00b7c1;
  --secondary-color: #003d5c;
  --dark-color: #051326;
  --dark-color-faded: #1e2733bf;
  --light-color: #dce2e8;
  --invalid-color: rgb(217 48 37);
}
